In [4]:
# Assignment 18.1
"""
Question:
Is gender independent of education level? A random sample of 395 people were
surveyed and each person was asked to report the highest education level they
obtained. The data that resulted from the survey is summarized in the following table:
High School Bachelors Masters Ph.d. Total
Female 60 54 46 41 201
Male 40 44 53 57 194
Total 100 98 99 98 395
Question: Are gender and education level dependent at 5% level of significance? In
other words, given the data collected above, is there a relationship between the gender
of an individual and the level of education that they have obtained?
"""

"""
solution:

H0:The two categorical variables are independent

H1:The two categorical variables are dependent

using formula ,we will calculate the frequency.
E =(row total×column totals)/sample size

E(Female,High School)=(201*100)/395
E(Male,High School)=(194*100)/395
E(Female,Bachelors)=(201*98)/395
E(Male,Bachelors)=(194*98)/395
E(Female,Master)=(201*99)/395
E(Male,Master)=(194*99)/395
E(Female,Ph.d.)=(201*98)/395
E(Male,Ph.d.)=(194*98)/395

Here's the table of expected frequency:

     High School   Bachelors  Master  Ph.d.  Total
Female 50.886       49.868    50.377  49.868   201
Male   49.114       48.132    48.623  48.132   194
Total   100           98        99      98     395

Female 60 54 46 41 201
Male 40 44 53 57 194

sci_2=(((60-50.886)**2)/50.886)+(((54-49.868)**2)/49.868)+(((46-50.377)**2)/50.377)+(((41-49.868)**2)/49.868)+
      (((40-49.114)**2)/49.114)+(((44-48.132)**2)/48.132)+(((53-48.623)**2)/48.623)+(((57-48.132)**2)/48.132)
     =8.006
The critical value of χ2 with 3 degree of freedom is 7.815.(using sci table)
we have 8.006 > 7.815, we reject null hypothesis and accept alternative hypothesis
hence, education level depends on gender with 5% level of significance

"""
#calculations
E1=(201*100)/395
E2=(194*100)/395
E3=(201*98)/395
E4=(194*98)/395
E5=(201*99)/395
E6=(194*99)/395
E7=(201*98)/395
E8=(194*98)/395

sci_2=(((60-50.886)**2)/50.886)+(((54-49.868)**2)/49.868)+(((46-50.377)**2)/50.377)+(((41-49.868)**2)/49.868)+(((40-49.114)**2)/49.114)+(((44-48.132)**2)/48.132)+(((53-48.623)**2)/48.623)+(((57-48.132)**2)/48.132)
print(sci_2)

8.005907121109098

In [5]:
# Assignment 18.2
"""
Question:
Using the following data, perform a oneway analysis of variance using α=.05. Write up
the results in APA format.

[Group1: 51, 45, 33, 45, 67]
[Group2: 23, 43, 23, 43, 45]
[Group3: 56, 76, 74, 87, 56]
"""

"""
Answer:
H0:mean_G1 = mean_G2 = mean_G3
H1:mean_G1 != mean_G2 != mean_G3

mean1=(51+ 45+ 33+ 45+ 67)/5
mean1
mean2=(23+ 43+ 23+ 43+ 45)/5
mean2
mean3=(56+ 76+ 74+ 87+ 56)/5
mean3

var=(((51-mean1)**2)+((45-mean1)**2)+((33-mean1)**2)+((45-mean1)**2)+((67-mean1)**2))/4
var2=(((23-mean2)**2)+((43-mean2)**2)+((23-mean2)**2)+((43-mean2)**2)+((45-mean2)**2))/4
var3=(((56-mean3)**2)+((76-mean3)**2)+((74-mean3)**2)+((87-mean3)**2)+((56-mean3)**2))/4

print(var,var2,var3)

MS_error=(153.2+128.8+183.2)/3=155.07
df_error=15−3=12
SS_error=(155.07)(15−3)=1860.8

Grand mean,  x_bar_grand=(48.2+35.4+69.8)/3=51.13

 group mean grand mean deviations sq deviations
       48.2      51.13      -2.93          8.58
       35.4      51.13     -15.73        247.43
       69.8      51.13      18.67        348.57
       
Var_means=(604.58)/3−1=302.29

MS_between=(302.29)*(5)=1511.45

Test statistic and critical value

    F=1511.45/155.07=9.75
    Fcritical(2,12)=3.89 (using F table)

since 9.75>3.89, Hence we reject H0

ANOVA table
source  SS      df      MS     F
group   1057.5   2    528.75 3.93
error  11703.82 87    134.53
total  12761.32

Effect size
    nita_2=1057.5/12761.32=0.08
APA write up 
    F(2, 12)=9.75, p <0.05, nita_2=0.62.
"""

mean1=(51+ 45+ 33+ 45+ 67)/5
mean1
mean2=(23+ 43+ 23+ 43+ 45)/5
mean2
mean3=(56+ 76+ 74+ 87+ 56)/5
mean3
var=(((51-mean1)**2)+((45-mean1)**2)+((33-mean1)**2)+((45-mean1)**2)+((67-mean1)**2))/4
var2=(((23-mean2)**2)+((43-mean2)**2)+((23-mean2)**2)+((43-mean2)**2)+((45-mean2)**2))/4
var3=(((56-mean3)**2)+((76-mean3)**2)+((74-mean3)**2)+((87-mean3)**2)+((56-mean3)**2))/4
print(var,var2,var3)

153.2 128.8 183.2

In [6]:
# Assignment 18.3
"""
Question:
Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
For 10, 20, 30, 40, 50:
"""
"""
solution:

Calculate Variance of first set 
x=(10,20,30,40,50) 
N=5 
m= 150/5 =30
Var1=(1/(N-1)*((x1-m)**2+(x2-m)**2+..+(xn-m)**2)) 
   =(1/(5-1)*((10-30)**2+(20-30)**2+(30-30)**2+(40-30)**2+(50-30)**2)) 
   =250 

Calculate Variance of second set

For 5, 10,15,20,25:
x=(5,10,15,20,25) 
N=5 
m= 75/5 =15
Var2=(1/(N-1)*((x1-m)**2+(x2-m)**2+..+(xn-m)**2)) 
    =(1/(5-1)*((5-15)**2+(10-15)**2+(15-15)**2+(20-15)**2+(25-15)**2)) 
    =62.5 

To calculate F Test 

F Test = (variance of 10, 20,30,40,50) / (variance of 5, 10, 15, 20, 25) 
       = 250/62.5 
       = 4

The F Test value is 4. 


"""
# calcualtions
var1=(1/(5-1)*((10-30)**2+(20-30)**2+(30-30)**2+(40-30)**2+(50-30)**2))
var2=(1/(5-1)*((5-15)**2+(10-15)**2+(15-15)**2+(20-15)**2+(25-15)**2))
print(var1," ",var2)
F_test =var1/var2
print(F_test)

250.0   62.5
4.0